@charset "utf-8";
/* CSS Document */
body, td, th, input, select, textarea {
	font-family: "Helvetica Neue", Helvetica, Tahoma, Arial,
		'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei',
		sans-serif;
	font-size: 14px;
	line-height: 24px;
}

#searchDiv {
	width: 53%;
	height: 70px;
	margin: 1.5% auto auto auto;
	text-align: center;
}

#conditionsDiv {
	float: left;
}

#srhBtnDiv {
	float: left;
}

.form-date {
	float: left;
	width: 166px;
	height: 30px;
	width: 166px;
}

#iptDiv {
	height: 46px;
}

#dateDiv {
	height: 50px;
}

#ipt {
	width: 463px;
	height: 38px;
}

#srhBtn {
	margin: 15px auto auto 20px;
	width: 100px;
	height: 50px;
}

#addBtn {
	margin: 15px auto auto 5px;
	width: 100px;
	height: 50px;
}

#dataDiv {
	width: 80%;
	margin: 10px auto auto auto;
}

#loadMore {
	width: 80px;
	margin: auto;
	text-align: center;
	display: none;
}

#loadMore:hover {
	cursor: pointer;
	color: skyblue;
}

#buttomDiv {
	width: 100%;
	margin: 50px auto auto auto;
	text-align: center;
}

.ctlspn:hover {
	cursor: pointer;
}

#maskDiv {
	top: 0%;
	left: 0%;
	position: absolute;
	background-color: #F1F1F1;
	opacity: .50;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
}

#editDiv {
	position: fixed;
	top: 14%;
	left: 35.2%;
	width: 441px;
	height: 370px;
	border: 7px solid #E5E5E5;
	border-radius: 13px;
	background-color: #FFFFFF;
	text-align: center;
	opacity: .90;
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
}

#editIpt {
	width: 440px;
	height: 275px;
	margin: 20px auto auto 20px;
	float: left;
}

#iptTable tr td {
	padding: 8px;
}

#cfmDiv {
	position: fixed;
	top: 32%;
	left: 38.5%;
	width: 330px;
	height: 116px;
	border: 7px solid #E5E5E5;
	border-radius: 13px;
	background-color: #FFFFFF;
	text-align: center;
	opacity: .90;
	filter: alpha(opacity = 90);
	-moz-opacity: 0.90;
}